{
	"$schema": "https://json.schemastore.org/eslintrc",
	"extends": "@sapphire",
	"parserOptions": {
		"project": "./config/tsconfig.eslint.json"
	},
	"rules": {
		"no-duplicate-imports": "off"
	},
	"overrides": [
		{
			"files": [
				"packages/**/__tests__/*.test.ts"
			],
			"rules": {
				"@typescript-eslint/no-extraneous-class": 0,
				"no-new-object": 0
			}
		}
	]
}